import comm
comm_host = "http://127.0.0.1:9001"
index_host = None
spell_host = None

index_host = 'http://{}:{}/'.format(comm.get_service_ip('indexer', comm_host), 8001)
spell_host = 'http://{}:{}/'.format(comm.get_service_ip('spell-check', comm_host), 8002)

index_service_name = "indexer"
indexer_port = 8001

spell_service_name = "spell-check"
spell_port = 8002

SEARCH_SERVER_PORT = 80
