import comm

comm_host = "http://127.0.0.1:9001"
index_host = 'http://{}/'.format(comm.get_service_ip('index', comm_host))
spell_host = 'http://{}/'.format(comm.get_service_ip('spell', comm_host))

SEARCH_SERVER_PORT = 80
