import comm

comm_host = "http://127.0.0.1:9001"
index_host = 'http://{}/'.format(comm.get_service_ip('indexer', comm_host))
spell_host = 'http://{}/'.format(comm.get_service_ip('spell-check', comm_host))

SEARCH_SERVER_PORT = 80
